@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font‑display:swap;
}

@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font‑display:swap;
}

@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font‑display:swap;
}

@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font‑display:swap;
}