@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font‑display:swap;
}

@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font‑display:swap;
}

@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font‑display:swap;
}

@font-face {
    font-family: 'TT Lakes';
    src:url('./fonts/TTLakes-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font‑display:swap;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html{
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;

}

a,
a:visited{
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.brands-wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 32px;
}

.title--lightgrey{
    padding: 16px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}
.grid-list{
    display: grid;
    padding: 24px 0 24px;
    grid-template-columns: repeat(auto-fill, 240px);
    row-gap: 16px;
    column-gap: 32px;
    grid-auto-rows: 72px;
    overflow: hidden;
    max-height: 200px;
    transition:max-height 1s;
}
.active-height{
    max-height: 300px;
}
.grid-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;

}


button{
    font-family: 'TT Lakes','Montserrat' , sans-serif;
    cursor: pointer;
}

button:focus{
    outline:2px solid #41F6D7;
}

.btn-round{
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:none;
    background-color: #fff;
}

.grid-item__btn{
    position: relative;
    border: 1px solid #FF3E79;
}

.grid-item__btn:hover{
    background: rgba(255, 62, 121, 0.4);
    border: 2px solid #fff;
}

.grid-item__btn:active{
    background: rgba(255, 62, 121, 0.7);
    border: 2px solid #fff;
}


.grid-item__btn::before,
.grid-item__btn:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: #FF3E79;
    border-radius: 10px;
}

.grid-item__btn::before{
    transform: translateX(-50%) rotate(-45deg) translateY(2px);
}
.grid-item__btn:after {
    transform: translateX(-50%) rotate(45deg) translate(-2px,-4px );
}
.grid-item__btn:hover.grid-item__btn::before,
.grid-item__btn:hover.grid-item__btn::after,
.grid-item__btn:active.grid-item__btn::before,
.grid-item__btn:active.grid-item__btn::after{
    background-color: #ffffff;
}

.swiper {
    display: none;
    width: 100%;
    height: 102px;
}
.swiper-slide{
    width: 240px!important;
    margin-right: 16px;
}
.btn-next {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #1B1C21;
    transition-duration: 1s;
    outline: none;
    border:none;
    background-color: transparent;
}

.btn-next__icon{
    width: 24px;
    height: 24px;
    padding: 2px;
}

@media (max-width: 769px){

    .brands-wrapper{
        padding: 0 24px;
    }
    .grid-list{
        grid-template-columns: repeat(auto-fill, 224px);
        row-gap: 16px;
        column-gap: 24px;
    }
    .swiper-slide{
        width: 224px;
    }

}


@media (max-width: 321px){
    .brands-wrapper{
        padding: 0 16px;
    }

    .swiper{
        display: block;
    }
    .grid-list{
         display: none;
    }
    .grid-item,
    .swiper-slide{
        width: 240px;
    }
    .hero-content__link-box{
        display: none;
    }

}
