@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font‑display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font‑display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font‑display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/TTLakes-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font‑display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'TT Lakes', 'Montserrat', sans-serif;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 2px solid #41f6d7;
}

a:focus-visible {
  outline: 2px solid #41f6d7;
}

ul li {
  list-style: none;
}

button {
  font-family: 'TT Lakes', 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  width: max-content;
}

.flex {
  display: flex;
}

.header {
  height: 88px;
}

.header__wrapper {
  padding: 12px 16px 0 16px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 5px;
}

.header__inner {
  align-items: center;
}

.header__inner--left {
  gap: 16px;
}

.btn-round {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.btn-round img {
  width: 100%;
  cursor: pointer;
}

.contacts {
  display: none;
  gap: 16px;
}

.section-hero {
  background: #f8f8f8;
}

.hero {
  display: flex;
  flex-direction: column;
  /*gap:16px;*/
}

.padding-box {
  padding-right: 16px;
  padding-left: 16px;
}

.repair-status {
  align-items: center;
  gap: 16px;
}

.vertical-line {
  width: 2px;
  height: 32px;
  margin-right: 4px;
  background-color: #eaeaea;
}

.vertical-line--header-inner {
  display: none;
  margin-left: 4px;
}

.vertical-line--repair-status {
  margin-right: 4px;
}

.repair-status__text {
  display: none;
}

.title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.hero-title {
  position: relative;
  margin-top: 26px;
  padding-bottom: 24px;
}

.hero-title::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  height: 36px;
  border: 2px solid #41f6d7;
}

.nav--hero {
  margin-bottom: 14px;
}

.nav {
  margin-bottom: 20px;
  height: 45px;
  overflow: hidden;
}

.nav__list {
  padding-bottom: 10px;
  overflow-x: auto;
}

.nav__item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.nav__link {
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: transparent;
  color: #7e7e82;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.nav__link--hero:focus,
.nav__link--hero:hover {
  outline: none;
  border: 2px solid #b8ffec;
  background-color: #ffffff;
}

.content-wrapper {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 14px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
}

.hero-info {
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.hero-content {
  line-height: 18px;
  letter-spacing: 0.2px;
}

.btn-more {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #1b1c21;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-more__icon {
  margin-left: 6px;
  margin-right: 4px;
  width: 10px;
  height: 10px;
}

.hero__image {
  max-width: 531px;
  height: auto;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.hero__image img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .header__wrapper {
    padding: 12px 24px 0 24px;
  }

  .logo {
    padding-top: 5px;
  }

  .vertical-line--header-inner {
    display: block;
  }

  .contacts {
    display: flex;
  }

  .header__inner--right {
    gap: 18px;
  }

  .content-wrapper {
    flex-direction: row;
    gap: 40px;
    padding: 0 24px 49px;
  }

  .padding-box {
    padding-right: 24px;
    padding-left: 24px;
  }

  .hero-title {
    margin-top: 30px;
    padding-bottom: 28px;
    padding-left: 25px;
  }

  .nav {
    margin-bottom: 18px;
  }

  .nav__link {
    padding: 7px 15px;
  }

  .btn-more {
    gap: 12px;
    letter-spacing: -0.3px;
  }

  .hero-content {
    padding: 0 0 8px 0;
    height: 200px;
    gap: 10px;
    line-height: 20px;
    letter-spacing: -0.9px;
  }

  .hero__image {
    width: 52%;
    min-width: 360px;
    position: relative;
    top: 4px;
  }

  .hero-info {
    text-align: left;
    height: 100%;
    gap: 38px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  /*.hero-info__text {*/
  /*  margin-top: -20px;*/
  /*  white-space: pre-line;*/
  /*}*/

  .nav {
    margin-bottom: 18px;
  }
}

@media (min-width: 1119px) {
  .header {
    height: 0;
  }

  .header__inner--left,
  .contacts {
    display: none;
  }

  .vertical-line--repair-status {
    display: none;
  }

  .hero-title {
    margin-top: 44px;
    padding-bottom: 0;
    padding-left: 34px;
    letter-spacing: -0.5px;
  }

  .repair-status {
    position: absolute;
    right: 32px;
    transform: translateY(50px);
    gap: 32px;
    z-index: 1;
  }

  .repair-status__box {
    align-items: center;
    gap: 8px;
  }

  .repair-status__text {
    display: block;
  }

  .nav {
    height: auto;
    padding-top: 4px;
    margin-bottom: 0;
  }

  .nav__list {
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 4px;
    margin-bottom: 0;
  }

  .nav__link--hero {
    padding: 6px 21px;
    line-height: 27px;
    letter-spacing: -0.3px;
  }

  .content-wrapper {
    padding-left: 34px;
    padding-right: 28px;
  }

  .hero-content {
    height: 100%;
    align-self: flex-start;
    padding-top: 26px;
    gap: 0;
  }

  .hero-info {
    gap: 18px;
  }

  .hero__image {
    min-height: 307px;
    min-width: 532px;
  }

  .hero-info__text {
    margin-top: 2px;
    white-space: normal;
    letter-spacing: 0.2px;
  }

  .btn-more {
    gap: 10px;
  }
}
